                <ul id="menu">
                    <li>@Html.ActionLink("Content Maintenance", "Index", "ContentMaintenance")</li>
                    <!--
                    <li>@Html.ActionLink("Form Builder", "FormBuilder", "ContentMaintenance")</li>
                    <li>@Html.ActionLink("News", "UpdateNews", "ContentMaintenance")</li>
                    <li>@Html.ActionLink("Events", "UpdateEvents", "ContentMaintenance")</li>
                    --> 
                    <li>@Html.ActionLink("Upload Photos", "Index", "Uploader")</li>
                                       
                    <li>@Html.ActionLink("Registrants", "Index", "Registrants")</li>
                    <li>@Html.ActionLink("Maintain Admin Users", "MaintainUsers", "Account")</li>
                    <li>@Html.ActionLink("General Settings", "Index", "Settings")</li>
                </ul>
